# Secrets
.env

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
model_number_cache.json

# Playwright browser binaries
playwright-browsers/

# IDE
.idea/
.vscode/

#test files
test_*.py